.hello {
    font-size: 80px;

}
.hello a {
    font-size: 100px;
}
.header {
    position: fixed;
    z-index: -1;
    top: 0;
}
.content {
    background: white;
    margin-top: 270px!important;
}




@font-face {
    font-family: 'mell_sanssemibold';
    src: url('MellSans3-Black.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'mell_sanssemibold';
  font-weight: bold;
}


.header {
  background-color: black;
}

.footer {
  background-color: black;
}


.logo {
  width: 400px;

}

blockquote {
  border-left: 4px dotted #666;
  padding: 0 10px;
  color: #666;
  font-size: 17px;
}
