body{
  font-family: 'mell_regular';
}
/*header */
.header {
    position: fixed;
    z-index: -1;
    top: 0;
    background: black;
}
.content {
    background: white;
    margin-top: 300px!important;
}



/*index page*/
.background {
  position: relative;
}
.background img {
  width: 100%;
}

.hello {
  text-shadow: 2px 2px white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-10%, -50%);
  margin: 0;
}
.hello a {
    font-size: 80px;
}


@font-face {
    font-family: 'mell_ultra';
    src: url('mell/display/MellDisplay0.5-Ultra.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'mell_regular';
    src: url('mell/sans/MellSans0.5-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mell_mono';
    src: url('mell/mono/MellMono0.5-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'mell_ultra';
  font-weight: bold;
}

code {
  font-family: 'mell_mono';
}
.highlight {
  font-family: 'mell_mono';
}

.header {
  background-color: black!important;
}

.footer {
  background-color: black!important;
}

.logo {
  width: 400px;
}


.footer h1 {
  font-size: 101px;
  height: 57px;
  display: block;
  line-height: 1;
  border-bottom: 3px solid white;
  overflow: hidden;
  padding-left: 31px;
  margin: 0;
}
