.hello {
    font-size: 80px;

}
.hello a {
    font-size: 100px;
}
.header {
    position: fixed;
    z-index: -1;
    top: 0;
}
.content {
    background: white;
    margin-top: 270px!important;
}

