---
layout: default
---

<script> 
  fetch("https://aethy.com/api/v1/accounts/109822482244087271/statuses?exclude_replies=true")
    .then((result) => result.json())
    .then((quotes) => {
        const content = quotes[0].content
        document.getElementById('random-quote').innerHTML = content
    })
</script>

  <div class="container">
    {% assign post = site.categories['microblog'].first %}
    <article class="post">

      <h1><i>Last blog post: </i><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}shorts" class="read-more">blog</a>
    </article>
  </div>

<div class="container">
  <h1>Essays</h1>
  {% for post in site.categories['blog'] %}
      <p><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
  {% endfor %}

  <a href="{{ site.baseurl }}blog" class="read-more">Details</a>
</div>



          <h1 id="job">Books</h1>

          <p><a href="/category-theory-illustrated">Category Theory Illustrated</a></p>
          <p>
            This is a little book about Category Theory that I started writing.
          </p>
          <p><a href="/time">Notes on Time and Causality</a></p>
          <p>
            A collection of philosophical essays on the above topics.
          </p>

          <p><a href="/humane-tech">Humane Technology</a></p>
          <p>
            A collection of philosophical essays about technology, sustainability and capitalism.
          </p>

          <p><a href="/mind-against-the-machine">Mind Against The Machine</a></p>
          <p>
          This is a book about my search for truth, in an artificial world.
          </p>

          <p><a href="/epigrams">Epigrams</a></p>
          <p>
            Misc short thoughts.
          </p>

          <p><a href="{{ site.baseurl }}blog">Essays</a></p>
          <p>
            A collection of essays on various topics
          </p>


      


<h1>By topic</h1>
<ul>
  {% for tag in site.tags %}
    <li><a href="{{ site.baseurl }}/tags/{{tag[0]}}">{{tag[0]}}</a></li>
  {% endfor %}
</ul>

<h1>Blogroll</h1>
<ul>
 
<li><a target="_blank" href="https://charlag.space">
  Charlag
</a></li>

<li><a target="_blank" href="http://proses.id/">
Theresia
</a></li>

<li><a target="_blank" href="https://wiki.xxiivv.com/">
  Linvega
</a></li>

<li><a target="_blank" href="https://prabros.com/">
  Pratiush
</a></li>

<li><a target="_blank" href="https://alternativebit.fr/">
  AlternativeBit
</a></li>

<li><a target="_blank" href="https://robertpaulwolff.blogspot.com/">
  Wolff
</a></li>

<li><a target="_blank" href="http://luc.devroye.org/">
  Luc
</a></li>

<li><a target="_blank" href="https://www.themathcitadel.com/">
  The Math Citadel
</a></li>

<li><a target="_blank" href="http://adelelopez.com">
    Adele Lopez
</a></li>

<li><a target="_blank" href="https://existentialcomics.com/">
    Existential Comics
</a></li>

<li><a target="_blank" href="https://math.ucr.edu/home/baez/">
    Baez
</a></li>

<li><a target="_blank" href="http://rin.io/">
    Rin
</a></li>

<li><a target="_blank" href="https://www.math3ma.com/">
    Math3ma
</a></li>
  

<li><a target="_blank" href="http://jdh.hamkins.org/">
  Joel David Hamkins
</a></li>
  
 
<li><a target="_blank" href="https://deontologistics.co/">
  Deontologics
</a></li>


<li><a target="_blank" href="https://fractalkitty.com/" >
  Fractal Kitty
</a></li>
  
<li><a target="_blank" href="https://sites.google.com/view/jadeedenstarmaster/home">
    Jade
</a></li>

  
</ul>

<p>
<a href="/blogroll">What is a blogroll?</a>
</p>


  <h1>Random quote</h1>
  <div id="random-quote" class="quote">
  </div>
  <a href="https://aethy.com/@abuseofnotation" target="_blank" class="read-more">More</a>



</div>
