@font-face {
    font-family: 'mell_ultra';
    src: url('mell/MellDisplay-Regular.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'mell_regular';
    src: url('mell/MellSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mell_regular';
    src: url('mell/MellSans-BoldItalic.otf') format('opentype');
    font-weight: Bold;
    font-style: italic;
}

@font-face {
    font-family: 'mell_regular';
    src: url('mell/MellSans-Bold.otf') format('opentype');
    font-weight: Bold;
    font-style: normal;
}

@font-face {
    font-family: 'mell_regular';
    src: url('mell/MellSans-BoldItalic.otf') format('opentype');
    font-weight: Bold;
    font-style: italic;
}


@font-face {
    font-family: 'mell_mono';
    src: url('mell/MellMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

