@font-face {
    font-family: 'mell_ultra';
    src: url('mell/display/MellDisplay0.6-Regular.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'mell_regular';
    src: url('mell/sans/MellSans0.6-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mell_regular';
    src: url('mell/sans/MellSans0.6-Bold.otf') format('opentype');
    font-weight: Bold;
    font-style: normal;
}



@font-face {
    font-family: 'mell_mono';
    src: url('mell/mono/MellMono0.6-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'mell_ultra';
  font-weight: bold;
}

code {
  font-family: 'mell_mono';
}
.highlight {
  font-family: 'mell_mono';
}


body {
  font-family: 'mell_regular';
}
